### Student Information
Name: Toni Dominique P. Garcia (珈希亞)

Student ID: 108065435

GitHub ID: tonistark23

---

### Instructions

1. First: do the **take home** exercises in the [DM19-Lab1-Master Repo](https://github.com/EvaArevalo/DM19-Lab1-Master). You may need to copy some cells from the Lab notebook to this notebook. __This part is worth 20% of your grade.__


2. Second: follow the same process from the [DM19-Lab1-Master Repo](https://github.com/EvaArevalo/DM19-Lab1-Master) on **the new dataset**. You don't need to explain all details as we did (some **minimal comments** explaining your code are useful though).  __This part is worth 30% of your grade.__
    - Download the [the new dataset](https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences#). The dataset contains a `sentence` and `score` label. Read the specificiations of the dataset for details. 
    - You are allowed to use and modify the `helper` functions in the folder of the first lab session (notice they may need modification) or create your own.


3. Third: please attempt the following tasks on **the new dataset**. __This part is worth 30% of your grade.__
    - Generate meaningful **new data visualizations**. Refer to online resources and the Data Mining textbook for inspiration and ideas. 
    - Generate **TF-IDF features** from the tokens of each text. This will generating a document matrix, however, the weights will be computed differently (using the TF-IDF value of each word per document as opposed to the word frequency). Refer to this Sciki-learn [guide](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) .
    - Implement a simple **Naive Bayes classifier** that automatically classifies the records into their categories. Use both the TF-IDF features and word frequency features to build two seperate classifiers. Comment on the differences.  Refer to this [article](https://hub.packtpub.com/implementing-3-naive-bayes-classifiers-in-scikit-learn/).


4. Fourth: In the lab, we applied each step really quickly just to illustrate how to work with your dataset. There are somethings that are not ideal or the most efficient/meaningful. Each dataset can be habdled differently as well. What are those inefficent parts you noticed? How can you improve the Data preprocessing for these specific datasets? __This part is worth 10% of your grade.__


5. Fifth: It's hard for us to follow if your code is messy :'(, so please **tidy up your notebook** and **add minimal comments where needed**. __This part is worth 10% of your grade.__


You can submit your homework following these guidelines: [Git Intro & How to hand your homework](https://github.com/EvaArevalo/DM19-Lab1-Master/blob/master/Git%20Intro%20%26%20How%20to%20hand%20your%20homework.ipynb). Make sure to commit and save your changes to your repository __BEFORE the deadline (Oct. 29th 11:59 pm, Tuesday)__.

In [1]:
### Begin Assignment Here

### Data Preparation

In [ ]:
# necessary for when working with external scripts
%load_ext autoreload
%autoreload 2

In [8]:
# categories
categories = ['alt.atheism', 'soc.religion.christian', 'comp.graphics', 'sci.med']

# obtain the documents containing the categories provided
from sklearn.datasets import fetch_20newsgroups

twenty_train = fetch_20newsgroups(subset='train', categories=categories, \
                                  shuffle=True, random_state=42)

import pandas as pd

# my functions
import helpers.data_mining_helpers as dmh

# construct dataframe from a list
X = pd.DataFrame.from_records(dmh.format_rows(twenty_train), columns= ['text'])

# add category to the dataframe
X['category'] = twenty_train.target

# add category label also
X['category_name'] = X.category.apply(lambda t: dmh.format_labels(t, twenty_train))

### >>> Exercise 2 (take home):
Experiment with other querying techniques using pandas dataframes. Refer to their [documentation](https://pandas.pydata.org/pandas-docs/stable/indexing.html) for more information.

In [266]:
# simple query: select every 20th record in column text
X['text'][::20]

0       From: sd345@city.ac.uk (Michael Collier) Subje...
20      From: dotsonm@dmapub.dma.org (Mark Dotson) Sub...
40      From: david-s@hsr.no (David A. Sjoen) Subject:...
60      From: Nanci Ann Miller <nm0w+@andrew.cmu.edu> ...
80      From: annick@cortex.physiol.su.oz.au (Annick A...
                              ...
2160    From: joshuaf@yang.earlham.edu Subject: TIFF -...
2180    From: "Robert Knowles" <p00261@psilink.com> Su...
2200    From: thomas@ramsey.cs.laurentian.ca (F. Thoma...
2220    From: idr@rigel.cs.pdx.edu (Ian D Romanick) Su...
2240    From: balick@nynexst.com (Daphne Balick) Subje...
Name: text, Length: 113, dtype: object

In [33]:
# selection by callable: using callable indexes to select all categories that are > 1 (or not comp.graphics)
X.loc[lambda df: df.category>1]

,text,category,category_name
0,From: sd345@city.ac.uk (Michael Collier) Subje...,1,comp.graphics
1,From: ani@ms.uky.edu (Aniruddha B. Deglurkar) ...,1,comp.graphics
2,From: djohnson@cs.ucsd.edu (Darin Johnson) Sub...,3,soc.religion.christian
3,From: s0612596@let.rug.nl (M.M. Zwart) Subject...,3,soc.religion.christian
4,From: stanly@grok11.columbiasc.ncr.com (stanly...,3,soc.religion.christian
...,...,...,...
2252,From: roos@Operoni.Helsinki.FI (Christophe Roo...,2,sci.med
2253,From: mhollowa@ic.sunysb.edu (Michael Holloway...,2,sci.med
2254,From: sasghm@theseus.unx.sas.com (Gary Merrill...,2,sci.med
2255,From: Dan Wallach <dwallach@cs.berkeley.edu> S...,2,sci.med
2256,From: dyer@spdcc.com (Steve Dyer) Subject: Re:...,2,sci.med

In [54]:
# use at to get column text, row 2250
X.at[2250, 'text']

'From: ingles@engin.umich.edu (Ray Ingles) Subject: Re: Concerning God\'s Morality (long) Organization: University of Michigan Engineering, Ann Arbor Lines: 32 Distribution: world NNTP-Posting-Host: syndicoot.engin.umich.edu  In article <1993Apr5.084042.822@batman.bmd.trw.com> jbrown@batman.bmd.trw.com writes: >In article <1993Apr3.095220.24632@leland.Stanford.EDU>, galahad@leland.Stanford.EDU (Scott Compton) writes: [deletions] >> Now, back to your post.  You have done a fine job at using  >> your seventh grade \'life science\' course to explain why >> bad diseases are caused by Satan and good things are a  >> result of God.  But I want to let you in on a little secret. >> "We can create an amino acid sequence in lab! -- And guess >> what, the sequence curls into a helix!  Wow!  That\'s right, >> it can happen without a supernatural force."  > >Wow!  All it takes is a few advanced science degrees and millions >of dollars of state of the art equipment.  And I thought it took >*intelligence* to create the building blocks of life.  Foolish me!   People with advanced science degrees use state of the art equipment and spend millions of dollars to simulate tornadoes. But tornadoes do not require intelligence to exist.  Not only that, the equipment needed is not really \'state of the art.\' To study the *products*, yes, but not to generate them.  >If you want to be sure that I read your post and to provide a >response, send a copy to Jim_Brown@oz.bmd.trw.com.  I can\'t read >a.a. every day, and some posts slip by.  Thanks.    Oh, I will. :->  Sincerely,  Ray Ingles                  || The above opinions are probably                             || not those of the University of ingles@engin.umich.edu      || Michigan. Yet. '

In [55]:
# use iat to get column 4, row 0
X.iat[10,2]

'soc.religion.christian'

In [62]:
# use Boolean indexing to get rows in categories comp.graphics or sci.med
X[(X['category_name'] == 'comp.graphics') | (X['category_name'] == 'sci.med')]

,text,category,category_name
0,From: sd345@city.ac.uk (Michael Collier) Subje...,1,comp.graphics
1,From: ani@ms.uky.edu (Aniruddha B. Deglurkar) ...,1,comp.graphics
7,From: aldridge@netcom.com (Jacquelin Aldridge)...,2,sci.med
8,From: geb@cs.pitt.edu (Gordon Banks) Subject: ...,2,sci.med
9,From: libman@hsc.usc.edu (Marlena Libman) Subj...,2,sci.med
...,...,...,...
2252,From: roos@Operoni.Helsinki.FI (Christophe Roo...,2,sci.med
2253,From: mhollowa@ic.sunysb.edu (Michael Holloway...,2,sci.med
2254,From: sasghm@theseus.unx.sas.com (Gary Merrill...,2,sci.med
2255,From: Dan Wallach <dwallach@cs.berkeley.edu> S...,2,sci.med
2256,From: dyer@spdcc.com (Steve Dyer) Subject: Re:...,2,sci.med

In [65]:
# use isin to create DataFrame of booleans that reflects true if the values in cells in 'X' are in the 'values' list

values = [3,4]

X.isin(values)

       text  category  category_name
0     False     False          False
1     False     False          False
2     False      True          False
3     False      True          False
4     False      True          False
...     ...       ...            ...
2252  False     False          False
2253  False     False          False
2254  False     False          False
2255  False     False          False
2256  False     False          False

[2257 rows x 3 columns]

In [82]:
# use where to create dataframe where values that meet criteria contain results, and those that don't return NaN
# i.e. if text contains .edu, return that text in the cell; otherwise return NaN

X.where(X['text'].str.contains('.edu'))

,text,category,category_name
0,NaN,NaN,NaN
1,From: ani@ms.uky.edu (Aniruddha B. Deglurkar) ...,1.0,comp.graphics
2,From: djohnson@cs.ucsd.edu (Darin Johnson) Sub...,3.0,soc.religion.christian
3,From: s0612596@let.rug.nl (M.M. Zwart) Subject...,3.0,soc.religion.christian
4,From: stanly@grok11.columbiasc.ncr.com (stanly...,3.0,soc.religion.christian
...,...,...,...
2252,NaN,NaN,NaN
2253,From: mhollowa@ic.sunysb.edu (Michael Holloway...,2.0,sci.med
2254,From: sasghm@theseus.unx.sas.com (Gary Merrill...,2.0,sci.med
2255,From: Dan Wallach <dwallach@cs.berkeley.edu> S...,2.0,sci.med
2256,From: dyer@spdcc.com (Steve Dyer) Subject: Re:...,2.0,sci.med

In [110]:
# use query to return all articles under category soc.religion.christian

X.query('category_name == "soc.religion.christian"')

,text,category,category_name
2,From: djohnson@cs.ucsd.edu (Darin Johnson) Sub...,3,soc.religion.christian
3,From: s0612596@let.rug.nl (M.M. Zwart) Subject...,3,soc.religion.christian
4,From: stanly@grok11.columbiasc.ncr.com (stanly...,3,soc.religion.christian
5,From: vbv@lor.eeap.cwru.edu (Virgilio (Dean) B...,3,soc.religion.christian
6,From: jodfishe@silver.ucs.indiana.edu (joseph ...,3,soc.religion.christian
...,...,...,...
2229,From: jcj@tellabs.com (jcj) Subject: Re: proof...,3,soc.religion.christian
2230,From: news@cbnewsk.att.com Subject: Re: Bible ...,3,soc.religion.christian
2246,From: lmvec@westminster.ac.uk (William Hargrea...,3,soc.religion.christian
2247,From: daniels@math.ufl.edu (TV's Big Dealer) S...,3,soc.religion.christian
2249,From: shellgate!llo@uu4.psi.com (Larry L. Over...,3,soc.religion.christian

In [134]:
# use multiconditional query to return all articles under category soc.religion.christian and text contains word 'atheism'

X.query('category_name == "soc.religion.christian" and text.str.contains("atheism")', engine='python')

,text,category,category_name
334,From: trajan@cwis.unomaha.edu (Stephen McIntyr...,3,soc.religion.christian
662,From: bruce@liv.ac.uk (Bruce Stephens) Subject...,3,soc.religion.christian
1256,From: gt7122b@prism.gatech.edu (Randal Lee Nic...,3,soc.religion.christian
1281,From: norris@athena.mit.edu (Richard A Chonak)...,3,soc.religion.christian
1315,From: wjhovi01@ulkyvx.louisville.edu Subject: ...,3,soc.religion.christian
1613,From: kempmp@phoenix.oulu.fi (Petri Pihko) Sub...,3,soc.religion.christian
1685,From: noye@midway.uchicago.edu (vera shanti no...,3,soc.religion.christian
1814,From: shd2001@andy.bgsu.edu (Sherlette Dixon) ...,3,soc.religion.christian
1832,From: MANDTBACKA@finabo.abo.fi (Mats Andtbacka...,3,soc.religion.christian
1891,From: jasons@atlastele.com (Jason Smith) Subje...,3,soc.religion.christian
2036,From: johnsd2@rpi.edu (Dan Johnson) Subject: R...,3,soc.religion.christian
2142,From: atterlep@vela.acs.oakland.edu (Cardinal ...,3,soc.religion.christian

In [138]:
# use get to return first 10 rows under text
X.get('text')[:10]

0    From: sd345@city.ac.uk (Michael Collier) Subje...
1    From: ani@ms.uky.edu (Aniruddha B. Deglurkar) ...
2    From: djohnson@cs.ucsd.edu (Darin Johnson) Sub...
3    From: s0612596@let.rug.nl (M.M. Zwart) Subject...
4    From: stanly@grok11.columbiasc.ncr.com (stanly...
5    From: vbv@lor.eeap.cwru.edu (Virgilio (Dean) B...
6    From: jodfishe@silver.ucs.indiana.edu (joseph ...
7    From: aldridge@netcom.com (Jacquelin Aldridge)...
8    From: geb@cs.pitt.edu (Gordon Banks) Subject: ...
9    From: libman@hsc.usc.edu (Marlena Libman) Subj...
Name: text, dtype: object

### >>> Exercise 5 (take home)
There is an old saying that goes, "The devil is in the details." When we are working with extremely large data, it's difficult to check records one by one (as we have been doing so far). And also, we don't even know what kind of missing values we are facing. Thus, "debugging" skills get sharper as we spend more time solving bugs. Let's focus on a different method to check for missing values and the kinds of missing values you may encounter. It's not easy to check for missing values as you will find out in a minute.

Please check the data and the process below, describe what you observe and why it happened.   
$Hint$ :  why `.isnull()` didn't work?

In [267]:
import numpy as np

NA_dict = [{ 'id': 'A', 'missing_example': np.nan },
           { 'id': 'B'                    },
           { 'id': 'C', 'missing_example': 'NaN'  },
           { 'id': 'D', 'missing_example': 'None' },
           { 'id': 'E', 'missing_example':  None  },
           { 'id': 'F', 'missing_example': ''     }]

NA_df = pd.DataFrame(NA_dict, columns = ['id','missing_example'])
NA_df

  id missing_example
0  A             NaN
1  B             NaN
2  C             NaN
3  D            None
4  E            None
5  F

In [268]:
NA_df['missing_example'].isnull()

0     True
1     True
2    False
3    False
4     True
5    False
Name: missing_example, dtype: bool

In [ ]:
# Answer here